<div class="container mb-5">
    <h1 class="card card-body text-center mt-3 mb-3">Store name : <%= storename %></h1>
    <div class="card card-body">
        <h3>Select Date</h3>
        <div class="form-group row">
            <div class='input-group date col-lg-3' id='datepicker'>
                <form action="/store/store_report/select_date/1" method="GET" id="formAutoSubmit" autocomplete="off">
                    <input type='text' name="date" class="form-control" id="datepickerVal" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </form>
            </div>
            <% if (selected_date != '') {%>
                <a href="/store/store_report/1" class="btn btn-primary col-lg-2" value="back">Show All</a>
            <%}%>
        </div>
        <h2>Account</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Deposit</th>
                </tr>
            </thead>
            <tbody>
            <% if (ResStoreHistory == '') {%>
                <tr>
                    <td colspan="7">
                        <h3 class="text-center">History not found</h3>
                        
                    </td>
                </tr>
            <%} else {%>
                <% for (var i = 0; i < ResStoreHistory.length; i++ ) { %>
                    <tr>
                        <td><%= ResStoreHistory[i].date.getDate() + "/" + (ResStoreHistory[i].date.getMonth()+1) + "/" + ResStoreHistory[i].date.getFullYear() %></td>
                        <td><%= ResStoreHistory[i].date.getHours() + ":" + ResStoreHistory[i].date.getMinutes() + ":" + ResStoreHistory[i].date.getSeconds() %></td>
                        <td><%= ResStoreHistory[i].activity %></td>
                        <td><%= ResStoreHistory[i].deposit %> Baht</td>
                    </tr>
                <%}%>
            <%}%>
            </tbody>
        </table>  
        <% if (selected_date == '') {%>
            <% if (pages > 0 ) {%>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <% if (current == 1 ) {%>
                            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                        <%} else {%>
                            <li class="page-item"><a class="page-link" href="/store/store_report/1">First</a></li>
                        <%}%>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) {%>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <%}%>
                        <% for (; i <= (Number(current) + 4 ) && i <= pages; i++) {%>
                            <% if ( i == current ) {%>
                                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <%} else {%>
                                <li class="page-item"><a class="page-link" href="/store/store_report/<%= i %>"><%= i %></a></li> 
                            <%}%> 
                            <% if ( i == Number(current) + 4 && i < pages) {%>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <%}%>
                        <%}%>
                        <% if (current == pages ) {%>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                        <%} else {%>
                            <li class="page-item"><a class="page-link" href="/store/store_report/<%= pages %>">&raquo;</a></li>
                        <%}%>
                    </ul>
                </div>
            <%}%>
        <%} else { %>
            <% if (pages > 0 ) {%>
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <% if (current == 1 ) {%>
                            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                        <%} else {%>
                            <li class="page-item"><a class="page-link" href="/store/store_report/select_date/1?date=<%= selected_date %>">First</a></li>
                        <%}%>
                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) {%>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <%}%>
                        <% for (; i <= (Number(current) + 4 ) && i <= pages; i++) {%>
                            <% if ( i == current ) {%>
                                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <%} else {%>
                                <li class="page-item"><a class="page-link" href="/store/store_report/select_date/<%= i %>?date=<%= selected_date %>"><%= i %></a></li> 
                            <%}%> 
                            <% if ( i == Number(current) + 4 && i < pages) {%>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <%}%>
                        <%}%>
                        <% if (current == pages ) {%>
                            <li class="page-item disabled"><a class="page-link">Last</a></li>
                        <%} else {%>
                            <li class="page-item"><a class="page-link" href="/store/store_report/select_date/<%= pages %>?date=<%= selected_date %>"">&raquo;</a></li>
                        <%}%>
                    </ul>
                </div>
            <%}%>
        <%}%>
        <div class="container ">
            <a style="float: left;" href="/" class="btn btn-info" >PDF Download</a>
            <a style="float: right;" href="/" class="btn btn-primary" value="back">Back to Homepage</a>
        </div>

    </div>
</div>

<script>

$(document).ready(function(){
    $("#datepicker").on('change',function(){
        var selectDate = $("#datepickerVal").val();
        $('#formAutoSubmit').submit();
        // console.log("Select Date : "+ selectDate);
        // SubmitSelectDate(selectDate);

    })
    
});

function SubmitSelectDate(Select_Date) {
    console.log('Select Date : ' + Select_Date);
    $.ajax({
        url:'/store/select_date/1',
        type:'POST',
        dataType:'json',
        data: { selectedDate : Select_Date },
        success:function(DataSuccessBack){
            console.log(DataSuccessBack);
            setTimeout(function(){
                location.reload(); 
            }, 1000); 
        },error:function(DataErrorBack){
            console.log(DataErrorBack);
        }
    })
};

$(function () {
    $('#datepicker').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        orientation: "button"
    });
});
</script>


