<div class="container mb-3">
    <div class="row mt-3 mb-3">
            <div class="col-lg-6" >
                <h3 class="text-center card card-body ml-5">Store NO : <%= StoreNo %></h3>
            </div>
            <div class="col-lg-6">
                <h3 class="text-center card card-body mr-5">Store Name : <%= StoreName %></h3>
            </div>
        </div>
        <div class="card card-body ml-5 mr-5">
            <h1 class="text-center mb-3">Category</h1>
            <!-- food no i -->
            <div class="row ">
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <td width='30%'>Name</td>
                            <td width='10%'>Type</td>
                            <td width='10%'>Extra</td>
                            <td width='20%'>Price</td>
                            <td width='10%'>Calorise</td>
                            <td width='10%'>Shotcut</td>
                            <td width='10%'>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i = 0; i < categoryData.length; i++) { %>
                            <tr>
                                <td rowspan="2"><p><%= categoryData[i].food_name %></p></td>
                                <td rowspan="2"><%= categoryData[i].food_type %></td>
                                <td>Normal</td>
                                <td><%= categoryData[i].food_normal.price %></td>
                                <td rowspan="2"><%= categoryData[i].food_calories %></td>
                                <td><%= categoryData[i].food_normal.shotcut %></td>
                                <td rowspan="2" class="align-middle">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                                        Edit
                                    </button>
                                    <div class="dropdown-menu">
                                        <button type="button" class="dropdown-item" href="#" data-toggle="modal" data-target="#EditFood">Edit</button>
                                        <button type="button" class="dropdown-item" href="#" data-toggle="modal" data-target="#RemoveFood">Remove</button>
                                    </div>   
                                </td>
                            </tr>
                            <tr>
                                <td>Extra</td>
                                <td><%= categoryData[i].food_extra.price %></td>
                                <td><%= categoryData[i].food_extra.shotcut %></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        
            <div class="container text-center">
                <button type="button" href="#" class="btn btn-primary" data-toggle="modal" data-target="#openModalAddFood"><i style="padding: 0 20px 0 20px;" class="fa fa-plus"></i></button>
            </div>

        <hr class="my-4">

        <div class="container">
            <a style="float: right;" href="/" class="btn btn-primary" value="back">Back to Homepage</a>
        </div>
    </div>  
</div>

<!-- Modal add food -->
<div class="modal fade" id="openModalAddFood" tabindex="-1" role="dialog" aria-labelledby="HeaderModalAddFood" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="HeaderModalAddFood">Add Food</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                <!-- form add food -->
                    <div class="form-group row">
                        <span class="col-sm-2 align-self-center">Store NO : </span>
                        <input type="number" id="food_storeNO" name="food_storeNO" class="form-control col-sm-2" placeholder="<%= StoreNo %>" value="<%= StoreNo %>" readonly/>
                        <span class="col-sm-2 align-self-center">Store Name : </span>
                        <input type="text" id="food_storeName" name="food_storeName" class="form-control col-sm-3" placeholder="Enter food food storeNO" value="<%= StoreName %>" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="food_name">Food Name</label>
                        <input type="text" id="food_name" name="food_name" class="form-control" placeholder="Enter food name" value="<%= typeof food_name != 'undefined' ? food_name : '' %>"/>
                    </div>
                    <div class="form-group row">
                        <form id="formSelectExtra" class="col-lg-2 align-self-center">
                            <div class="custom-control custom-radio mb-4">
                                <input type="radio" id="customRadio1" name="extra" class="custom-control-input" value="true">
                                <label class="custom-control-label" for="customRadio1">Have extra</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="extra" class="custom-control-input" value="false" checked="">
                                <label class="custom-control-label" for="customRadio2">No extra</label>
                            </div>
                        </form>
                        <div class="col-lg-5">
                            <div class="row mb-2" id="normal_price_div" >
                                <span class="col-lg-5 align-self-center">Price</span>
                                <input type="text" id="normal_price" name="normal_price"  class="col-lg-6 form-control" placeholder="Enter food price" value="<%= typeof price != 'undefined' ? price : '' %>"/>
                            </div>
                            <div class="row" id="extra_price_div" >   
                                <span class="col-lg-5 align-self-center ">Extra Price</span>
                                <input type="text" id="extra_price" name="extra_price"  class="col-lg-6 form-control" placeholder="Enter food price extra" value="<%= typeof price_extra != 'undefined' ? price_extra : '' %>" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row mb-2" id="normal_shotcut_div" >
                                <span class="col-lg-4 align-self-center">shotcut</span>
                                <input type="text" id="normal_shotcut" name="normal_price"  class="col-lg-6 form-control" placeholder="Enter food price" value="<%= typeof price != 'undefined' ? price : '' %>"/>
                            </div>
                            <div class="row" id="extra_shotcut_div" >   
                                <span class="col-lg-4 align-self-center">shotcut</span>
                                <input type="text" id="extra_shotcut" name="extra_price"  class="col-lg-6 form-control" placeholder="Enter food price extra" value="<%= typeof price_extra != 'undefined' ? price_extra : '' %>" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="food_calories">Food calories</label>
                        <input type="number" id="food_calories" name="food_calories" class="form-control" placeholder="Enter food calories" value="<%= typeof food_calories != 'undefined' ? food_calories : '' %>"/>
                    </div>
                    <div class="form-group">
                        <label for="food_type">Food type</label>
                        <input type="text" id="food_type" name="food_type" class="form-control" placeholder="Enter food type" value="<%= typeof food_type != 'undefined' ? food_type : '' %>"/>
                    </div>
                <!-- form add food -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  id="AddFood">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add food -->
    <!-- Modal Edit food -->
    <div class="modal fade" id="EditFood" tabindex="-1" role="dialog" aria-labelledby="EditFoodLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditFoodLabel">Edit Food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- form add food -->
                <div class="form-group row">
                    <span class="col-sm-2 align-self-center">Store NO : </span>
                    <input type="number" id="food_storeNO" name="food_storeNO" class="form-control col-sm-2" placeholder="Enter food food storeNO" value="<%= typeof food_storeNO != 'undefined' ? food_storeNO : '' %>"/>
                    <span class="col-sm-2 align-self-center">Store Name : </span>
                    <input type="text" id="food_storeName" name="food_storeNO" class="form-control col-sm-3" placeholder="Enter food food storeNO" value="<%= typeof food_storeNO != 'undefined' ? food_storeNO : '' %>"/>
                </div>
                <div class="form-group">
                    <label for="food_name">Food Name</label>
                    <input type="text" id="food_name" name="food_name" class="form-control" placeholder="Enter food name" value="<%= typeof food_name != 'undefined' ? food_name : '' %>"/>
                </div>
                <div class="form-group row">
                    <form id="formSelectExtra" class="col-lg-2 align-self-center">
                        <div class="custom-control custom-radio mb-4">
                            <input type="radio" id="customRadio1" name="extra" class="custom-control-input" value="true">
                            <label class="custom-control-label" for="customRadio1">Have extra</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="extra" class="custom-control-input" value="false" checked="">
                            <label class="custom-control-label" for="customRadio2">No extra</label>
                        </div>
                    </form>
                    <div class="col-lg-5">
                        <div class="row mb-2" id="normal_price_div" >
                            <span class="col-lg-5 align-self-center">Price</span>
                            <input type="text" id="normal_price" name="normal_price"  class="col-lg-6 form-control" placeholder="Enter food price" value="<%= typeof price != 'undefined' ? price : '' %>"/>
                        </div>
                        <div class="row" id="extra_price_div" >   
                            <span class="col-lg-5 align-self-center ">Extra Price</span>
                            <input type="text" id="extra_price" name="extra_price"  class="col-lg-6 form-control" placeholder="Enter food price extra" value="<%= typeof price_extra != 'undefined' ? price_extra : '' %>" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row mb-2" id="normal_shotcut_div" >
                            <span class="col-lg-4 align-self-center">shotcut</span>
                            <input type="text" id="normal_shotcut" name="normal_price"  class="col-lg-6 form-control" placeholder="Enter food price" value="<%= typeof price != 'undefined' ? price : '' %>"/>
                        </div>
                        <div class="row" id="extra_shotcut_div" >   
                            <span class="col-lg-4 align-self-center">shotcut</span>
                            <input type="text" id="extra_shotcut" name="extra_price"  class="col-lg-6 form-control" placeholder="Enter food price extra" value="<%= typeof price_extra != 'undefined' ? price_extra : '' %>" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="food_calories">Food calories</label>
                    <input type="number" id="food_calories" name="food_calories" class="form-control" placeholder="Enter food calories" value="<%= typeof food_calories != 'undefined' ? food_calories : '' %>"/>
                </div>
                <div class="form-group">
                    <label for="food_type">Food type</label>
                    <input type="text" id="food_type" name="food_type" class="form-control" placeholder="Enter food type" value="<%= typeof food_type != 'undefined' ? food_type : '' %>"/>
                </div>
                <!-- form add food -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit food -->
    <!-- Modal Remove food -->
    <div class="modal fade" id="RemoveFood" tabindex="-1" role="dialog" aria-labelledby="EditFoodLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditFoodLabel">Remove Food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Remove Food body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal Remove food -->

<script>
    // test select radio

    $(document).ready(function(){
        // init page
        $('#extra_price_div').hide();
        $('#extra_shotcut_div').hide();

        $('#AddFood').click(function(){
            console.log('Add food.')
            newFood();
        });

        $('#showFoodButton').click(function(){
            console.log('Show food.')
            showFood();
        });

        $('#formSelectExtra').on('change',function(){
            // console.log('Select extra Ture or False.');
            selectExtra();
        })

    });

    // select extra
    function selectExtra(){
        var valueExtra = $('.custom-control-input:checked').val();
        $('#showValueRadio').html("<span>Select extra : "+ valueExtra +"</span>")
        // console.log('Select extra T or F : ' + valueExtra);
        if (valueExtra == "true") {
            $('#extra_price_div').show();
            $('#extra_shotcut_div').show();
        }
        if (valueExtra == "false") {
            $('#extra_price_div').hide();
            $('#extra_shotcut_div').hide();
        }
    }

    // function show food
    function showFood(){
        $.ajax({
            url:'/admin/get_category',
            type:'GET',
            dataType:'json',
            success:function(dataFromServer) {
                console.log('Show food success : ' + JSON.stringify(dataFromServer));
                $('#getFoodList').html('All Food: ' + JSON.stringify(dataFromServer));
                $('#getFoodPrice').html('Food price: ' + JSON.stringify(dataFromServer[0].food_extra.price));
            },error:function(msgFromServer){
                console.log('Show food fail.');
                console.log('Server send : ' + msgFromServer);
            }
        })
    }

    // function add food
    function newFood(){
        var haveExtra = $('.custom-control-input').val();
        // var noextra = $('.custom-control-input:checked',false).val();

        // var extra = extraTrueVal();
        var noExtra = extraFalseVal();

        console.log('Food extra init : ' + haveExtra);
        console.log('Food noextra init : ' + noExtra);
        // model food category v2
        const new_food = { 
            food_storeNO:$('#food_storeNO').val(),
            food_storeName:$('#food_storeName').val(),
            food_name:$('#food_name').val(),
            food_type: $('#food_type').val(),
            food_normal:{
                price:$('#normal_price').val(),
                extra:noExtra,
                shotcut:$('#normal_shotcut').val(),
            },
            food_extra:{
                price:$('#extra_price').val(),
                extra:haveExtra,
                shotcut:$('#extra_shotcut').val(),
            },
            food_calories: $('#food_calories').val(),
        }

        console.log('Food new category : ' + JSON.stringify(new_food));

    }

    function extraTrueVal() { 
        $('.custom-control-input:checked').val();
    } 

    function extraFalseVal() { 
        if ($('.custom-control-input:checked').val() == "true") {
            return false;
        }
    } 

</script>