<!-- income page -->
<h1>เลือกวันที่</h1>  
    <!-- ver.1 -->
<div class="form-group row">
    <div class='input-group date col-lg-3' id='datepicker'>
        <form action="/student/history/income/selected_date/1" method="GET" id="formAutoSubmit" autocomplete="off">
            <input type='text' name="date" class="form-control" id="datepickerVal" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </form>  
    </div> 
    <% if (selected_date != '') {%>
        <a href="/student/history/income/1" class="btn btn-primary col-lg-2" value="back">Show All</a>
    <%}%>
</div>


<h2>ประวัติ</h2>
<div class="container">
    

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th scope="col">วันที่</th>
            <th scope="col">เวลา</th>
            <th scope="col">กิจกรรม</th>
            <th scope="col">จำนวนเงินเข้า</th>
            <th scope="col">จำนวนเงินออก</th>
            <th scope="col">คงเหลือ</th>
            <th scope="col">ชื่อผู้ทำรายการ</th>
            </tr>
        </thead>
        <tbody>
            <% if (historyData == '') {%>
                <tr>
                    <td colspan="7">
                        <h3 class="text-center">ไม่พบ ประวัติ</h3>
                        
                    </td>
                </tr>
            <%} else {%>
                <% for (var i = 0; i < historyData.length; i++) {%>
                    <tr>
                        <td><%= historyData[i].date.getDate() + "/" + (historyData[i].date.getMonth()+1) + "/" + historyData[i].date.getFullYear() %></td>
                        <td><%= historyData[i].date.getHours() + ":" + historyData[i].date.getMinutes() + ":" + historyData[i].date.getSeconds() %></td>
                        <td><%= historyData[i].activity %></td>
                        <td><%= historyData[i].deposit %></td>
                        <td><%= historyData[i].withdraw %></td>
                        <td><%= historyData[i].total %></td>
                        <td><%= historyData[i].responsible %></td>
                    <tr>
                <%}%>
            <%}%>
        </tbody>
    </table>  
    <% if (selected_date == '') {%>
        <% if (pages > 0) { %>     
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/student/history/income/1">หน้าแรก</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/student/history/income/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">หน้าสุดท้าย</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/student/history/income/<%= pages %>">&raquo;</a></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    <%} else { %>
        <% if (pages > 0) { %>     
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/student/history/income/selected_date/1?date=<%= selected_date %>">หน้าแรก</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/student/history/income/selected_date/<%= i %>?date=<%= selected_date %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">หน้าสุดท้าย</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/student/history/income/selected_date/<%= pages %>?date=<%= selected_date %>">&raquo;</a></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    <%} %>
    
  
  
</div>

<script>

$(document).ready(function(){
        $('#datepicker').on('change',function(){
            var dateSelect = $('#datepickerVal').val();
            console.log("Date : " + dateSelect);
            $('#formAutoSubmit').submit();
        });   
    });

$(function () {
    $('#datepicker').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayHighlight: true,
        showOtherMonths: true,
        selectOtherMonths: true,
        autoclose: true,
        changeMonth: true,
        changeYear: true,
        orientation: "button"
    });
});
</script>